# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
media/
staticfiles/

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
