{% extends 'base.html' %}

{% block title %}Login - Viajero{% endblock %}

{% block content %}
<h1 class="mb-4">Iniciar sesión</h1>

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" style="max-width:400px;">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label fw-bold">Usuario</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Contraseña</label>
        <input type="password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a href="{% url 'registro' %}" class="ms-3">¿No tenés cuenta?</a>
</form>
{% endblock %}